# MySQL 8.0 配置
# 容器内路径：/etc/mysql/conf.d/my.cnf（被官方镜像自动加载）

[mysqld]
# 字符集
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 时区（与 K8s Pod 时区保持一致）
default-time-zone = '+08:00'

# 慢查询（学习可关）
slow_query_log = 0
long_query_time = 2

# 默认引擎
default-storage-engine = InnoDB

# 最大连接
max_connections = 200

[client]
default-character-set = utf8mb4